ion-header ion-toolbar {
  --background: #ac399f;
  --color: rgb(255, 255, 255);
  text-align: center;
}

ion-input {
  --padding-start: 15px;
}

table {
  width: 100%;
  margin-top: 15px;

  thead {
    background-color: #ff38de;
    color: white;
  }
  }

ion-button {
  --background: #ff38de;
  border-radius: 10px;
}
