<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Evento   </ion-label>
    <ion-input [formControl]="evento" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha inicial   </ion-label>
    <ion-input type="date" [formControl]="fechai"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha final   </ion-label>
    <ion-input type="date" [formControl]="fechafin"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ubicación   </ion-label>
    <ion-input [formControl]="ubicacion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Encargado   </ion-label>
    <ion-input [formControl]="encargado"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tel. encargado   </ion-label>
    <ion-input [formControl]="telefono" type="number"></ion-input>
  </ion-item>
  <ion-button (click)="agregar()">Agregar Evento</ion-button>
  
  <table>

    <thead>
      <tr>
        <th>Evento</th>
        <th>Fecha Incio</th>
        <th>Fecha Final</th>
        <th>Ubicacion</th>
        <th>Encargado</th>
        <th>Tel. Encargado</th>
        <th>Completado</th>
      </tr>
    </thead>

    <tbody style="text-align: center;"> 
      <tr *ngFor="let item of items;let indice=index">
        <td>{{item.evento}}</td>
        <td>{{item.fechai}}</td>
        <td>{{item.fechafin}}</td>
        <td>{{item.ubicacion}}</td>
        <td>{{item.encargado}}</td>
        <td>{{item.telefono}}</td>
        <td>
          <ion-checkbox></ion-checkbox>
        </td>
      </tr>
    </tbody>

  </table>

</ion-content>